<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:inline="text">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>登录</title>
<link th:href="@{/public/css/common.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/public/css/login.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/images/favicon.jpg}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link th:href="@{/images/favicon.ico}" rel="apple-touch-icon" type="image/png" />
<script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
</head>

<body>
	<div>
		<form th:action="@{/login}" method="post" name="form" autocomplete="off">
			<div class="errormsg">
				<span><img th:src="@{/images/error.png}" /></span> 账户名与密码不匹配,请重新输入
			</div>
			<div class="login-name">
				<label for="userName" class="label-userName"> <img th:src="@{/images/user.png}" />
				</label> <input type="text" class="ipt" name="username" id="userName" placeholder="请输入手机号" autofocus="autofocus" />
			</div>
			<div class="login-pwd">
				<label for="password" class="label-password"> <img th:src="@{/images/pwd.png}" />
				</label>
				<!--[if !IE]><!-->
				<input type="text" onfocus="this.type='password'" class="ipt" name="password" id="password" placeholder="请输入密码" />
				<!--<![endif]-->
				<!--[if IE]><input type="password" name="password" autocomplete="off" id="password" placeholder="密码" /><![endif]-->
			</div>
			<button class="login-btn">登录</button>
		</form>
	</div>
</body>
</html>
<script type="text/javascript">
	$(function() {
		var href = window.location.href;
		if (href.indexOf('error') > -1) {
			$('.errormsg').show();
		}

		$('.login-btn').on("click", function() {
			var userName = $('#userName').val();
			var password = $('#password').val();

			/* 判断用户和密码是否为空*/
			if (userName == "") {
				$('.errormsg').show().html('用户名不能为空！');
				$('#userName').focus();
				return false;
			}

			if (password == "") {
				$('.errormsg').show().html('密码不能为空！');
				$('#password').focus();
				return false;
			}
		})
	})
</script>